@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,900);


* {
	box-sizing: border-box;
  }
  
  section h1 {
	text-align: center;
  }
  html,body{
	/* height: 70%; */
	margin: 0;
  }
  
  
  aside,main {
	display: block;
  }
  
  .clearfix::after {
	clear: both;
	content: "";
	display: table;
  }
  
  h1 {
	font-family: Catamaran, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 0 20px 0;
	font-size:x-large;
  }
  
  .about {
	background-color: white;
	/* height: auto !important; */
	margin: 0 0  -100px 0;
	padding: 50px;
	/* min-height: 100%; */
	font-family: Catamaran, sans-serif;
	font-size: 16px;
	font-weight: 700;
	/* letter-spacing: 1px; */
	color: black;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	/* height: 100%; */
	margin: 0;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center
  }
  
  .about-frame {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	/* width: 960px; */
	display: flex;
	justify-content: center;
	align-items: left;
	width: 90vw;
  }
  
  .content-wrapper {
	/* padding: 40px 0 20px; */
  }
  .content-wrapper-1 {
	padding: 30px 0 130px;
  }
  
  .about-sidebar {
	float: left;
	display: inline;
	width: 50%;
	box-sizing: border-box;
	border-right: 5px solid rgb(255, 0, 0);
	margin-right: -5px;
	padding-right: 2.9317666547%;
  }
  .about-sidebar:last-child {
	width: 32.0429364069%;
  }
  
  .about-content {
	float: left;
	display: block;
	margin-right: 1.9355953897%;
	/* width: 66.0214682034%; */
	width: 50%;
	box-sizing: border-box;
	border-left: 5px solid rgb(255, 179, 0);
	padding-left: 2.9317666547%;
  }
  .about-content:last-child {
	margin-right: 0;
  }
  
  li{
	margin-top:15px;
  }
  
  .rules {
	background-color: white;
	/* height: auto !important; */
	/* height: 100%; */
	margin: 0 0 0px 0;
	/* min-height: 100%; */
	font-family: Catamaran, sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: black;
	line-height: 1.5;
	/* min-width: 960px; */
	text-rendering: optimizeLegibility;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .rules-frame {
	box-sizing: border-box;
	margin: auto auto;
	/* width: 1200px; */
	/* padding: 10px 10px; */
	display: flex;
  }
  .rules-content {
	
	float: left;
	display: block;
	margin: 10px;
	width: 90vw;
	box-sizing: border-box;
	border-right: 5px solid rgb(255, 0, 0);
	border-left: 5px solid rgb(255, 179, 0);
	padding-left: 10px;
	padding-right: 100px;
  }