* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section h1 {
	text-align: center;
}
html,
body {
	height: 100%;
	margin: 0;
	width: 100%;
}

aside,
main {
	display: block;
}

.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

h1 {
	font-family: 'Oswald', 'Arial', san-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: x-large;
}

.about {
	background-color: rgb(11, 0, 0);
	height: auto !important;
	height: 100%;
	margin: 0 0 -100px 0;
	min-height: 100%;
	font-family: 'Arial', san-serif;
	font-size: 14px;
	color: whitesmoke;
	line-height: 1.5;
	min-width: 960px;
	text-rendering: optimizeLegibility;
	height: 100%;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.about-frame {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	width: 960px;
	padding: 0 10px;
}

.content-wrapper {
	padding: 30px 0 130px;
}

.about-sidebar {
	float: left;
	display: block;
	width: 33.9785317966%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 5px solid rgb(255, 0, 0);
	margin-right: -5px;
	padding-right: 2.9317666547%;
}
.about-sidebar:last-child {
	width: 32.0429364069%;
}

.about-content {
	float: left;
	display: block;
	margin-right: 1.9355953897%;
	width: 66.0214682034%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 5px solid rgb(255, 179, 0);
	padding-left: 2.9317666547%;
}
.about-content:last-child {
	margin-right: 0;
}
