/* VENUE AND LOCATION */

#venue {
  padding: 7% 0%;
  text-align: center;
  color: #fff;
}

.venue-img {
  opacity: 0.9;
  width: 100%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.venue-container {
  padding: 0;
  margin: 0;
}

.black-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.3;
}
.carousel-item {
  float: none;
  transition: 0s !important;
}

.location-h1 {
  font-size: 55px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

.location-h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

@media (max-width: 1060px) {
  .location-h1 {
    font-size: 50px;
  }
  .location-h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 30px;
  }
  .location {
    padding: relative;
  }
  /* .location-btn {
    padding: 8.5px;
  } */
}

@media (max-width: 570px) {
  .location-h1 {
    font-size: 40px;
  }
  .location-h2 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 30px;
  }
  .location {
    padding: relative;
  }
  .location-btn {
    padding: 8.5px;
  }
}
